.works {
  display: flex;
}

.works {
  flex: 1 1 0;
}

.works__item {
  position: relative;

  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image {
  opacity: 0.1;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__image {
  max-width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.2s linear;
}

.works__info {
  width: 100%;
  opacity: 0;
  padding: 0 15px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

.works__title {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

.works__text {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 1300px) {
}

@media (max-width: 1230px) {
}

@media (max-width: 990px) {
}

@media (max-width: 770px) {
  .works {
    flex-wrap: wrap;
  }

  .works__col {
    flex: none;
    width: 50%;
  }
}

@media (max-width: 575px) {
  .works {
    justify-content: center;
  }

  .works__col {
    width: 100%;
    max-width: 480px;
  }
}
