*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

hr {
  width: 100%;
  display: block;
  height: 1px;
  margin: 40px 0;
  border: none;
  border-color: #fff;
}

@import 'block/header.css';
@import 'block/burger.css';
@import 'block/intro.css';
@import 'block/section.css';
@import 'block/card.css';
@import 'block/statistics.css';
@import 'block/services.css';
@import 'block/devices.css';
@import 'block/wedo.css';
@import 'block/reviews.css';
@import 'block/team.css';
@import 'block/logos.css';
@import 'block/works.css';
@import 'block/clients.css';
@import 'block/blog.css';
@import 'block/map.css';
@import 'block/footer.css';
